body {
  background-color: #fff;
  font-family: 'Inter', sans-serif;
}
.btn-login {
    width: 150px;
    height: 50px;
    background-color: #E4007E;
    color: white;
    font-weight: bold;
    &:hover{
      background-color: #e979b7;
      color: rgba($color: #FFFFFF, $alpha: 1.0);
      font-size: 17px;
    }
  }

  .header-title,.header{
    h2{
      font-size: 48px;
    }
    p{
      font-size: 18px;
    }
  }

  .portal{
    .bg-gradient-color {
      background-image: url("../images/bg-gradient.png");
      height: 95;
      background-repeat: no-repeat;
     background-size: cover;
      h2{
        font-size: 48px;
      }
    }
  }

  .btn-no-border{
    color: #E4007E;
    text-decoration: none;
    font-weight: bolder;
    font-size: 18px;
  }

.feature-product{
  h2{
    font-size: 32px;
  }
  p{
    font-size: 24px;
    font-weight: lighter;
  }
}

.title-search-job {
  h2{
    font-size: 48px;
  }
  .search-bar{
    width: 100%;
    max-width: 938px;
    height: 98px;
    background:rgba(255, 255, 255,0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    box-shadow: 8px 4px 4px 8px rgba($color: #E4007E, $alpha: 0.1), 8px 4px 4px 8px rgba(255,255,255, 1.0);
    img{
      width: 82px;
      background: transparent;
      border: none;
    }
    input{
      background: transparent;
      flex: 1;
      border: 0;
      outline: none;
      padding: 24px 20px;
      font-size: 20px;
      color: #8B8B8B;
      text-align: center;



      &::placeholder{
        text-align: center;
        color: #8B8B8B;
      }
      button{
        padding: 0;
        border: none;
        background: none;
      }
    }


  }
}

.search-job{
 h4{
  font-size: 100px;
  font-weight: bold;
 }
 h3{
  color: #20A6FC;
  font-size: 20px;
 }
 h5{
  font-size: 30px;
 }
 .top-location{
  li {
    cursor: pointer; 
  }
 }
 .btn-all-job{
     height: 50px;
     background-color: #E4007E;
     color: white;
     font-weight: bold;
     &:hover{
       background-color: #e979b7;
       color: rgba($color: #FFFFFF, $alpha: 1.0);
       font-size: 17px;
     }
  }
}
