body {
  background-color: #fff;
  font-family: "Inter", sans-serif;
}

.btn-login {
  width: 150px;
  height: 50px;
  background-color: #E4007E;
  color: white;
  font-weight: bold;
}
.btn-login:hover {
  background-color: #e979b7;
  color: white;
  font-size: 17px;
}

.header-title h2, .header h2 {
  font-size: 48px;
}
.header-title p, .header p {
  font-size: 18px;
}

.portal .bg-gradient-color {
  background-image: url("../images/bg-gradient.png");
  height: 95;
  background-repeat: no-repeat;
  background-size: cover;
}
.portal .bg-gradient-color h2 {
  font-size: 48px;
}

.btn-no-border {
  color: #E4007E;
  text-decoration: none;
  font-weight: bolder;
  font-size: 18px;
}

.feature-product h2 {
  font-size: 32px;
}
.feature-product p {
  font-size: 24px;
  font-weight: lighter;
}

.title-search-job h2 {
  font-size: 48px;
}
.title-search-job .search-bar {
  width: 100%;
  max-width: 938px;
  height: 98px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  box-shadow: 8px 4px 4px 8px rgba(228, 0, 126, 0.1), 8px 4px 4px 8px rgb(255, 255, 255);
}
.title-search-job .search-bar img {
  width: 82px;
  background: transparent;
  border: none;
}
.title-search-job .search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #8B8B8B;
  text-align: center;
}
.title-search-job .search-bar input::-moz-placeholder {
  text-align: center;
  color: #8B8B8B;
}
.title-search-job .search-bar input:-ms-input-placeholder {
  text-align: center;
  color: #8B8B8B;
}
.title-search-job .search-bar input::placeholder {
  text-align: center;
  color: #8B8B8B;
}
.title-search-job .search-bar input button {
  padding: 0;
  border: none;
  background: none;
}

.search-job h4 {
  font-size: 100px;
  font-weight: bold;
}
.search-job h3 {
  color: #20A6FC;
  font-size: 20px;
}
.search-job h5 {
  font-size: 30px;
}
.search-job .top-location li {
  cursor: pointer;
}
.search-job .btn-all-job {
  height: 50px;
  background-color: #E4007E;
  color: white;
  font-weight: bold;
}
.search-job .btn-all-job:hover {
  background-color: #e979b7;
  color: white;
  font-size: 17px;
}/*# sourceMappingURL=main.css.map */